@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  object-fit: contain;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body, form, .form-input {
  display: flex;
}

body {
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(219, 216, 0);
  padding: 20px;
}

form {
  width: 500px;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.65);
  height: fit-content;
  padding: 40px;
  gap: 10px;
  border-radius: 15px;
  box-shadow: 2px 5px 5px 3px rgba(90,120,88,0.75);
}

h1 {
  color: #ff0000;
}

p {
  font-size: 25px;
  text-align: center;
  margin-bottom: 35px;
}

.form-input {
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid green;
  padding: 5px 3px;
}

input:focus {
  border: 1px solid rgb(0, 128, 0);
  border-radius: 4px;
}

button {
  background-color: rgb(0, 128, 0);
  border: none;
  outline: none;
  width: 150px;
  border-radius: 5px;
  margin: 20px 0;
  padding: 12px;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease-in, background-color 0.3s ease-in;
}

button:hover {
  opacity: 0.9;
}

button:active {
  transform: scale(0.9);
}

span {
  text-align: center;
}

h6 {
  color: #ff0000;
  text-align: center;
  font-weight: 400;
}

.hide {
  display: none;
}

.display {
  color: #ff0000;
  text-align: center;
  font-weight: 400;
  display: block;
}