{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <title>Login</title>
  </head>
  <body>
    <form method="POST" action="login">
      {% csrf_token %}
      <p>Enter your username and password to login</p>
      <h1>Heman</h1>
      <div class="form-input">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Enter your username" />
        <h6 class="hide" id="username-error">Username cannot be less than 3 characters long.</h6>
      </div>
      <div class="form-input">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          placeholder="Enter your password"
        />
      </div>
      <button type="submit">
        Login
      </button>
      <span>
        Dont have an account yet? <a href="register"><strong>Register Here</strong></a>
      </span>
    </form>

    <script src="{% static 'js/home.js' %}"></script>
  </body>
</html>
