{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'login.css' %}" />
    <title>Login</title>
  </head>
  <body>
    <form method="POST" action="">
      {% csrf_token %}
      <p>Enter your username and password to login</p>
      <div class="form-input">
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Enter your username" />
      </div>
      <div class="form-input">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          placeholder="Enter your password"
        />
      </div>
      <button type="submit">
        <!-- <a href="index">Login</a> -->
        Login
      </button>
      <span>
        Dont have an account yet? <a href="register"><strong>Register Here</strong></a>
      </span>
    </form>
  </body>
</html>
